# 2.3.3- include ~/.nano/*.nanorc

set autoindent
# 2.1.0- set constantshow
# -2.8.6 set cut
# 2.8.6- set cutfromcursor
# 2.7.1- set linenumbers
set morespace
set multibuffer
set nowrap
set smarthome
# 2.1.11- set softwrap
set suspend
set tabsize 4

# 2.1.0- bind ^J formatter main
# 2.1.0- bind ^T linter main

# 2.3.3- extendsyntax c formatter clang-format --assume-filename=test.cpp -style=file -i
# 2.3.3- extendsyntax c linter gcc

# 2.3.3- extendsyntax java formatter clang-format --assume-filename=test.java -style=file -i
# 2.3.3- extendsyntax java linter javac

# 2.3.3- extendsyntax m formatter clang-format --assume-filename=test.mm -style=file -i
# 2.3.3- extendsyntax m linter clang -isysroot /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk -isystem /Applications/Xcode.app/Contents/Developer/CommandLineTools/usr/lib/clang/*/include -isystem /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/include/c++/v1

# 2.3.3- extendsyntax rust formatter rustfmt
# 2.3.3- extendsyntax rust linter rustc --error-format=short
