include /opt/local/share/nano/asm.nanorc
include /opt/local/share/nano/awk.nanorc
include /opt/local/share/nano/c.nanorc
include /opt/local/share/nano/cmake.nanorc
include /opt/local/share/nano/css.nanorc
include /opt/local/share/nano/debian.nanorc
include /opt/local/share/nano/fortran.nanorc
include /opt/local/share/nano/gentoo.nanorc
include /opt/local/share/nano/groff.nanorc
include /opt/local/share/nano/html.nanorc
include /opt/local/share/nano/java.nanorc
include /opt/local/share/nano/makefile.nanorc
include /opt/local/share/nano/man.nanorc
include /opt/local/share/nano/mgp.nanorc
include /opt/local/share/nano/mutt.nanorc
include /opt/local/share/nano/nanorc.nanorc
include /opt/local/share/nano/objc.nanorc
include /opt/local/share/nano/ocaml.nanorc
include /opt/local/share/nano/patch.nanorc
include /opt/local/share/nano/perl.nanorc
include /opt/local/share/nano/php.nanorc
include /opt/local/share/nano/pov.nanorc
include /opt/local/share/nano/python.nanorc
include /opt/local/share/nano/ruby.nanorc
include /opt/local/share/nano/sh.nanorc
include /opt/local/share/nano/tcl.nanorc
include /opt/local/share/nano/tex.nanorc
include /opt/local/share/nano/xml.nanorc

include /usr/share/nano/asm.nanorc
include /usr/share/nano/awk.nanorc
include /usr/share/nano/c.nanorc
include /usr/share/nano/cmake.nanorc
include /usr/share/nano/css.nanorc
include /usr/share/nano/debian.nanorc
include /usr/share/nano/fortran.nanorc
include /usr/share/nano/gentoo.nanorc
include /usr/share/nano/groff.nanorc
include /usr/share/nano/html.nanorc
include /usr/share/nano/java.nanorc
include /usr/share/nano/makefile.nanorc
include /usr/share/nano/man.nanorc
include /usr/share/nano/mgp.nanorc
include /usr/share/nano/mutt.nanorc
include /usr/share/nano/nanorc.nanorc
include /usr/share/nano/objc.nanorc
include /usr/share/nano/ocaml.nanorc
include /usr/share/nano/patch.nanorc
include /usr/share/nano/perl.nanorc
include /usr/share/nano/php.nanorc
include /usr/share/nano/pov.nanorc
include /usr/share/nano/python.nanorc
include /usr/share/nano/ruby.nanorc
include /usr/share/nano/sh.nanorc
include /usr/share/nano/tcl.nanorc
include /usr/share/nano/tex.nanorc
include /usr/share/nano/xml.nanorc

set autoindent
set constantshow
set cutfromcursor
set guidestripe 80
set linenumbers
set morespace
set mouse
set multibuffer
set nowrap
set softwrap
set suspend
set tabsize 4
