<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>sysctl</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/sysctl</string>
		<string>security.mac.amfi.verbose_logging=3</string>
	</array>
	<key>UserName</key>
	<string>root</string>
	<key>GroupName</key>
	<string>wheel</string>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
